body {
    font-family: "Courier New", Courier, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "monospace";
    color: black;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

button {
    background-color: #4cadb0;
    border-radius: 20px;
    padding: 20px;
    color: white;
    width: 200px;
}

.inputLabel {
    font-size: 14px;
    font-weight: bold;
}

input.inputField {
    padding: 5px;
    border: 1px solid #000000;
}

div.box {
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 0 10px 0 10px;
}

#primary1 {
    background-color: #4cadb0;
}

#primary2 {
    background-color: #ccc5bd;
}

#primary3 {
    background-color: #000000;
}

#primary4 {
    background-color: #ffffff;
}

#primary5 {
    background-color: #755b50;
}

.warning {
    font-weight: bold;
    color: black;
}

.danger {
    font-weight: bold;
    color: black;
}

.success {
    font-weight: bold;
    color: black;
}

svg.svg-inline--fa {
    color: white;
}

.spacer {
    margin-top: 25px;
}

#footer {
    border-top: 1px solid #dddddd;
    margin-top: 50px;
    padding: 10px;
    text-align: center;
}